.App {
  display: flex;
  flex-direction: column;
}

.App-header {
  background-color: #282c34;
  min-height: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: calc(10px + 2vmin);
  color: white;
  border-width: 0 0 2px 0;
  padding: 0 10px;
}

.App-header svg {
  min-width: 24px;
}

button {
  cursor: pointer;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  font-family: sans-serif;
}

li {
  margin: 0;
  padding: 0;
  display: flex;
  flex: 30px 0 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

li:nth-child(2n) {
  background-color: white;
}

li:nth-child(2n+1) {
  background-color: #eee;
}

li a:hover {
  background-color: #ddd;
}

li a {
  display: flex;
  flex: 30px 0 0;
  width: 100%;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}
